input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

body{
  	font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
	color: #494949;
	font-size: 13px;
}

/* Customize fonts */
  body, label, input, button, select { 
    font-family: 'Helvetica Neue', Helvetica;
    font-weight: 200;
    /*color: #F0F0F0;*/
  }
h1, h2, h3, h4 { font-weight: 200; }
 h5 {
   font-weight: 300;
   color: #2B4777;
 }
 
 a {
  font-weight: 300;
   color:  #5475A7;
   font-size: 15px;
 }

#demoData {
     font-size: 13px;

}
#controls {
/* Appearance */
  background-color: white;
padding: 0 20px 20px 20px;
cursor: move;
/* Fade out while not hovering */
  opacity: 0.6;
zoom: 0.9;
transition: opacity 500ms 1s;
}
#controls:hover {
/* Fade in while hovering */
  opacity: 0.9;
transition-delay: 0;
}

/* Position and style citation */
  #cite {
  position: absolute;
bottom: 10px;
left: 10px;
font-size: 12px;
}

#titleHead {	
	background-color: #003366;
	color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 10px;
}

#note {
  	padding: 15px;
}


 #information {background-color: white;
   	padding: 15px;
    	text-align: center;

        color: #2B4777;
 }
 
 #feedback {background-color: white;
    	text-align: center;

        color: #2B4777;
 }
 


 

 
 